.nav-container {
    width: 100vw;
    height: 80px;
    background-color: #F5F5F5;
    position: fixed;
    top: 0;
    z-index: 2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

nav .links a {
    text-decoration: none;
}