.payment-container {
    margin-top: 8em;
    width: min(80%, 950px);
    margin-inline: auto;
    background-color: #000000;
    border-radius: 10px;
    padding: 20px 0;
}

.payment-container h2 {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.payment-container p {
    text-align: center;
    color: #ffffff;
    margin-top: 38px;
    margin-bottom: 43px;
}

.payment-container p span {
    font-weight: bold;
}

.details {
    display: grid;
    gap: 43px;
    place-content: center;
}

.details p {
    background-color: #ffffff;
    border: none;
    color: #000000;
    padding: 10px, 11px;
    width: 287px;
    height: 39px;
    display: inherit;
    place-content: inherit;
}

.details .p2 {
    width: auto;
    padding: 10px 25px;
}

.contact {
    display: grid;
    place-content: center;
}

form {
    width: min(361px);
    border: 2px solid #ffffff;
    display: grid;
    color: #ffffff;
    gap: 22px;
    padding: 22px 33px;
}

.input {
    height: 32px;
    padding-left: 10px;

}

textarea {
    height: 82px;
    padding: 10px;
}

.send {
    padding: 10px 80px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}

@media (max-width:470px) {
    .payment-container {
        font-size: 12px;
    }

    .payment-container h2 {
        font-size: 16px;
    }

    form {
        border: none;
    }
}